@{
    ViewBag.Title = "Edit";
}
@model MVCezara.Models.Group

<h2>Edit</h2>

<h2>Editare grup</h2>
<form method="post" action="">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.HiddenFor(x => x.GroupId, Model.GroupId)
    @Html.LabelFor(x => x.GroupName, "Nume Grup")
    <br />
    @Html.EditorFor(x => x.GroupName)
    <br />
    @Html.LabelFor(x => x.Description, "Descriere Grup")
    <br />
    @Html.EditorFor(x => x.Description)
    <br />
    <button type="submit" class="btn btn-info">Salveaza</button>
</form>