@{
    ViewBag.Title = "Edit";
}
@model MVCezara.Models.Group

<h2>Edit</h2>

<h2>Editare grup</h2>
<form method="post" action="">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.HiddenFor(x => x.GroupId, Model.GroupId)
    @Html.Label("GroupName", "Nume Grup")
    <br />
    @Html.TextBox("GroupName", Model.GroupName, new { @class = "form-control" })
    <br />
    @Html.Label("Description", "Nume Grup")
    <br />
    @Html.TextArea("Description", Model.Description, new { @class = "form-control" })
    <br />
    <button type="submit" class="btn btn-info">Salveaza</button>
</form>